@{
	Layout = "_Layout";
}

@using Inventory.Models;

<h1 id="title">Favorite Games</h1>

<ul>
	@foreach (Game game in Model)
	{
		<lI><b>@Html.ActionLink($"{@game.Name}", "Details", new { id = game.GameId }) (@game.ReleaseDate.Year) by @game.Developer</lI>
	}
</ul>

<p>@Html.ActionLink("Add a new game", "Create")</p>