@{
	Layout = "_Layout";
}

<h1 id="title">Welcome to your favorite game list!</h1>
<h5 id="subtitle">Keep a record of all your favorite video games here</h5>
<p>@Html.ActionLink("See all games", "Index", "Inventory")</p>
<p>@Html.ActionLink("Add a new game", "Create", "Inventory")</p>