@{
	Layout = "_Layout";
}

<h1>Welcome to your game list!</h1>
<h5>Keep a record of all games you've played and enjoyed here</h5>
<p>@Html.ActionLink("See all games", "Index", "Inventory")</p>
<p>@Html.ActionLink("Add a new game", "Create", "Inventory")</p>